@import "tailwindcss";

@theme inline {
  --font-outfit: var(--font-outfit-var);
  --font-dm-sans: var(--font-dm-sans-var);
  --border-width-3: 3px;
}

body {
  background: #010101;
  color: white;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-lorbek {
  background-image: url("/hero/LORBEK-BACKGROUND.png");
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 100%;
}

.bg-entire {
  background-image: url("/bg-entire.png");
  background-size: cover;
}
