@import "tailwindcss";

@theme inline {
  --font-outfit: var(--font-outfit-var);
  --font-dm-sans: var(--font-dm-sans-var);
  --border-width-3: 3px;
}

body {
  background: #010101;
  color: white;
}

html {
  overflow-x: hidden;
}
