@import "tailwindcss";

@theme inline {
  --font-outfit: var(--font-outfit-var);
  --font-dm-sans: var(--font-dm-sans-var);
  --border-width-3: 3px;
}

body {
  background: #010101;
  color: white;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-lorbek {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/lorbek-dealer.png");
  background-size: cover;
}
