@import "tailwindcss";

@theme inline {
  --font-outfit: var(--font-outfit-var);
  --font-dm-sans: var(--font-dm-sans-var);
  --border-width-3: 3px;
}

body {
  background: #010101;
  color: white;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-lorbek {
  /* background-image:
    linear-gradient(to bottom, rgba(120, 0, 0, 0.4) 0%, transparent 15%),
    linear-gradient(to right, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.55) 40%, rgba(0, 0, 0, 0.35) 100%),
    url("/hero/LORBEK-BACKGROUND.png"); */
  background-image: url("/hero/LORBEK-BACKGROUND.png");
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 100%;
}
